body {
    background-color: #000000;
    background-image: url(./header.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    padding: 1vh;
}

a {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF
}

a:hover{
    color: #B0C4DE;
    transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}
